.links_container a{
  text-decoration: none;
  margin: 0px .8rem;
  padding: 1.4rem 0px;
  color:  #606077;
  size: 16px;
  letter-spacing: 0.04em;
  line-height: 27px;
}
.links_container a:hover{
  border-bottom: 2px solid rgb(192, 192, 233);
}
.links_container #active{
  border-bottom: 3px solid #01037C;
  color: #01037C;
}

@media(max-width: 1024px) {
  .links_container{
    display: none;
  }
  .hide{
    display: block;
  }
}

@media (min-width: 1024px) {
  .p-stab{
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* @media (min-width: 768px) {
  .hide{
    display: none;
  }
} */